<!DOCTYPE html>
<html lang="es-CL">
    {% load pwa %}
<head>
    <!-- Cargar archivos estáticos -->
    {% load static %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro de Técnicos</title>

    <!-- Carga de estilos -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/estilo.css" %}" type="text/css">
</head>
{% progressive_web_app_meta %}
<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url "index" %}">Ascensores</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "index" %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "listarAsignacion" %}">Asignaciones</a>
                </li>
                {% if request.user.is_staff %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url "panel" %}">Administración <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                {% if user %}
                <li class="nav-item" id="credenciales">
                    <a class="nav-link">Bienvenido {{ user.1 }}</a>
                </li>
                <li class="nav-item" id="credenciales">
                    <a class="nav-link" href="{% url "cerrarSession" %}">Salir</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Formulario de registro -->
    <br>
    <div class="container">
        <h2>Registro de Técnicos</h2><br><br>
        <form action="{% url 'crearTecnico' %}" method="post" id="registroTecnico">
            {% csrf_token %}
            <legend>Información de la Cuenta</legend>

            <div class="form-group">
                <label for="email">Correo</label> 
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Correo" required="required">
                </div>
            </div>

            <div class="form-group">
                <label for="password">Contraseña</label> 
                <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required="required">
            </div>

            <div class="form-group">
                <label for="confirm_password">Confirmar Contraseña</label> 
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirmar Contraseña" required="required">
            </div>

            <br>
            <legend>Información Personal</legend>
            
            <div class="form-group">
                <label for="nombre">Nombre</label> 
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required="required">
            </div>

            <div class="form-group">
                <label for="direccion">Dirección</label> 
                <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Dirección" required="required">
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="idCiudad">Región</label>
                    <select name="idCiudad" class="form-control" id="idCiudad" required="required">
                        {% for ciudad in ciudades %}
                        <option value="{{ ciudad.id }}">{{ ciudad.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label for="idComuna">Comuna</label>
                    <select name="idComuna" class="form-control" id="idComuna" required="required">
                        {% for comuna in comunas %}
                        <option value="{{ comuna.id }}">{{ comuna.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label for="telefono">Teléfono</label> 
                <input type="number" class="form-control" id="telefono" name="telefono" placeholder="Número de teléfono" required="required">
            </div>

            <br><br>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>

    <!-- Carga de scripts -->
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/jquery.validate.min.js" %}"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "js/validarTecnico.js" %}"></script>
</body>
</html>