<!DOCTYPE html>
<html lang="es-CL">
    {% load pwa %}
<head>
    <!-- Cargar archivos estáticos -->
    {% load static %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar Ascensor</title>

    <!-- Carga de estilos -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/estilo.css" %}" type="text/css">
</head>
{% progressive_web_app_meta %}
<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url "index" %}">Ascensores</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "index" %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "listarAsignacion" %}">Asignaciones</a>
                </li>
                {% if request.user.is_staff %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url "panel" %}">Administración <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                {% if user %}
                <li class="nav-item" id="credenciales">
                    <a class="nav-link">Bienvenido {{ user.1 }}</a>
                </li>
                <li class="nav-item" id="credenciales">
                    <a class="nav-link" href="{% url "cerrarSession" %}">Salir</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Formulario de edición -->
    <br>
    <div class="container">
        <h2>Editar Ascensor</h2><br><br>
        <form action="#" method="post" id="editarAscensor">
            {% csrf_token %}
            <legend>Información Requerida</legend>
            
            <input type="number" class="form-control" id="id" name="id" required="required" value="{{ ascensor.id }}" hidden>

            <div class="form-group">
                <label for="identificador">Identificador</label> 
                <input type="text" class="form-control" id="identificador" name="identificador" required="required" value="{{ ascensor.identificador }}">
            </div>

            <div class="form-group">
                <label for="modelo">Modelo</label> 
                <input type="text" class="form-control" id="modelo" name="modelo" required="required" value="{{ ascensor.modelo }}">
            </div>

            <br><br>
            <button type="submit" class="btn btn-primary">Editar</button>
        </form>
    </div>

    <!-- Carga de scripts -->
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/jquery.validate.min.js" %}"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "js/validarAscensor.js" %}"></script>
</body>
</html>