<!DOCTYPE html>
<html lang="es-CL">
    {% load pwa %}
<head>
    <!-- Cargar archivos estáticos -->
    {% load static %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar Orden</title>

    <!-- Carga de estilos -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/estilo.css" %}" type="text/css">
</head>
{% progressive_web_app_meta %}
<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url "index" %}">Ascensores</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "index" %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "listarAsignacion" %}">Asignaciones</a>
                </li>
                {% if request.user.is_staff %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url "panel" %}">Administración <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                {% if user %}
                <li class="nav-item" id="credenciales">
                    <a class="nav-link">Bienvenido {{ user.1 }}</a>
                </li>
                <li class="nav-item" id="credenciales">
                    <a class="nav-link" href="{% url "cerrarSession" %}">Salir</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Formulario de registro -->
    <br>
    <div class="container">
        <h2>Editar Orden</h2><br><br>
        <form action="#" method="post" id="crearOrden">
            {% csrf_token %}
            <legend>Información Personal</legend>

            <input type="text" class="form-control" id="id" name="id" required="required" value="{{ orden.id }}" hidden>

            <div class="form-group">
                <label for="idCliente">Cliente</label> 
                <select name="idCliente" id="idCliente" class="form-control">
                    <option value="empty">Seleccione un Cliente</option>
                    <option value="empty">--</option>
                    {% for cliente in clientes %}
                    {% if cliente.id == orden.idCliente %}
                    <option value="{{ cliente.id }}" selected>[ID: {{ cliente.id }}] [Nombre: {{ cliente.nombre }}] [Correo: {{ cliente.email }}]</option>
                    {% else %}
                    <option value="{{ cliente.id }}">[ID: {{ cliente.id }}] [Nombre: {{ cliente.nombre }}] [Correo: {{ cliente.email }}]</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="idTecnico">Tecnico</label> 
                <select name="idTecnico" id="idTecnico" class="form-control">
                    <option value="empty">Seleccione un Técnico</option>
                    <option value="empty">--</option>
                    {% for tecnico in tecnicos %}
                    {% if tecnico.id == orden.idTecnico %}
                    <option value="{{ tecnico.id }}" selected>[ID: {{ tecnico.id }}] [Nombre: {{ tecnico.nombre }}] [Correo: {{ tecnico.email }}]</option>
                    {% else %}
                    <option value="{{ tecnico.id }}">[ID: {{ tecnico.id }}] [Nombre: {{ tecnico.nombre }}] [Correo: {{ tecnico.email }}]</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div><br>

            <legend>Detalles de la Orden</legend>
            <div class="form-group">
                <label for="fechaOrden">Fecha</label> 
                <input type="date" class="form-control" id="fechaOrden" name="fechaOrden" required="required" value="{{ orden.fechaOrden|date:'Y-m-d' }}">
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="horaInicio">Hora Inicio</label> 
                    <input type="time" class="form-control" id="horaInicio" name="horaInicio" required="required" value="{{ orden.horaInicio|time:'h:i' }}">
                </div>

                <div class="form-group col-md-6">
                    <label for="horaTermino">Hora Término</label> 
                    <input type="time" class="form-control" id="horaTermino" name="horaTermino" required="required" value="{{ orden.horaTermino|time:'h:i' }}">
                </div>
            </div><br>

            <legend>Detalles del Servicio</legend>
            <div class="form-group">
                <label for="idAscensor">Ascensor</label> 
                <select name="idAscensor" id="idAscensor" class="form-control">
                    <option value="empty">Seleccione un Ascensor</option>
                    <option value="empty">--</option>
                    {% for ascensor in ascensores %}
                    {% if ascensor.id == orden.idAscensor %}
                    <option value="{{ ascensor.id }}" selected>[ID: {{ ascensor.id }}] [Modelo: {{ ascensor.modelo }}]</option>
                    {% else %}
                    <option value="{{ ascensor.id }}">[ID: {{ ascensor.id }}] [Modelo: {{ ascensor.modelo }}]</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

            <br>
            <div class="form-group">
                <label for="fallasEncontradas">Fallas Encontradas</label> 
                <textarea class="form-control" rows="10" id="fallasEncontradas" name="fallasEncontradas" placeholder="Fallas Encontradas">{{ orden.fallasEncontradas }}</textarea>
            </div>

            <br>
            <div class="form-group">
                <label for="piezasRemplazadas">Piezas Remplazadas</label> 
                <textarea class="form-control" rows="10" id="piezasRemplazadas" name="piezasRemplazadas" placeholder="Piezas Remplazadas">{{ orden.piezasRemplazadas }}</textarea>
            </div>

            <br><br>
            <button type="submit" class="btn btn-primary">Editar Orden</button>
        </form>
    </div>

    <!-- Carga de scripts -->
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/jquery.validate.min.js" %}"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "js/validarOrden.js" %}"></script>
</body>
</html>