<!DOCTYPE html>
<html lang="es-CL">
    {% load pwa %}
<head>
    {% progressive_web_app_meta %}
    <!-- Cargar archivos estáticos -->
    {% load static %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>

    <!-- Carga de estilos -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/estilo.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/panel.css" %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    
</head>
<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url "index" %}">Ascensores</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "index" %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "listarAsignacion" %}">Asignaciones</a>
                </li>
                {% if request.user.is_staff %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url "panel" %}">Administración <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                {% if user %}
                <li class="nav-item" id="credenciales">
                    <a class="nav-link">Bienvenido {{ user.1 }}</a>
                </li>
                <li class="nav-item" id="credenciales">
                    <a class="nav-link" href="{% url "cerrarSession" %}">Salir</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Menú de opciones -->
    <section class="container-fluid"><br>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card bg-lightary mb-3">
                    <br>
                    <i class="fas fa-users card-img-top fa-10x text-center"></i>
                    <div class="card-body">
                        <h5 class="card-title">Clientes</h5>
                        <p class="card-text">Panel de administración para los Clientes ingresados en el sistema. <br> Por favor, selecciona una de las opciones disponibles debajo.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url "registroCliente" %}" class="btn btn-primary">Agregar</a>
                        <a href="{% url "listarCliente" %}" class="btn btn-success">Listar</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card bg-lightess mb-3">
                    <br>
                    <i class="fas fa-cogs fa-10x card-img-top text-center"></i>
                    <div class="card-body">
                        <h5 class="card-title">Técnicos</h5>
                        <p class="card-text">Panel de administración para los Técnicos ingresados en el sistema. <br> Por favor, selecciona una de las opciones disponibles debajo.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url "registroTecnico" %}" class="btn btn-primary">Agregar</a>
                        <a href="{% url "listarTecnico" %}" class="btn btn-success">Listar</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card bg-light mb-3">
                    <br>
                    <i class="far fa-calendar-check card-img-top fa-10x text-center"></i>
                    <div class="card-body">
                        <h5 class="card-title">Asignaciones</h5>
                        <p class="card-text">Panel de administración para las Asignaciones ingresados en el sistema. <br> Por favor, selecciona una de las opciones disponibles debajo.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url "agregarAsignacion" %}" class="btn btn-primary">Agregar</a>
                        <a href="{% url "listarAsignacion" %}" class="btn btn-success">Listar</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card bg-light mb-3">
                    <br>
                    <i class="fas fa-file-contract card-img-top fa-10x text-center"></i>
                    <div class="card-body">
                        <h5 class="card-title">Ordenes</h5>
                        <p class="card-text">Panel de administración para las Ordenes generadas en el sistema. <br> Por favor, selecciona una de las opciones disponibles debajo.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url "generarOrden" %}" class="btn btn-primary">Agregar</a>
                        <a href="{% url "listarOrden" %}" class="btn btn-success">Listar</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card bg-light mb-3">
                    <br>
                    <i class="fas fa-caret-square-up card-img-top fa-10x text-center"></i>
                    <div class="card-body">
                        <h5 class="card-title">Ascensores</h5>
                        <p class="card-text">Panel de administración para los Ascensores ingresados en el sistema. <br> Por favor, selecciona una de las opciones disponibles debajo.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url "agregarAscensor" %}" class="btn btn-primary">Agregar</a>
                        <a href="{% url "listarAscensor" %}" class="btn btn-success">Listar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            
        </div>
        

        
    </section>

    <!-- Carga de scripts -->
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/jquery.validate.min.js" %}"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>